/*Content.css*/

.my-body {
  margin-left: 200px;
}

.header-content {
  width: calc(100vw - 240px);
  padding: 20px;
  text-align: center;
  color: rgb(232, 112, 0);
  display: flex;
  justify-content: center;
  margin-top: 50px;
  font-size: 22px;
}

.logo3 {
  cursor: pointer;
  width: 70px;
  height: 100px;
  object-fit: contain;
}

.title {
  margin-top: 24px;
  margin-left: 20px;
  margin-right: 70px;
  font-family: 'NanumSquareB', Arial, sans-serif;
}

.top-section {
  margin-top: 110px;
}

.liked-card {
  text-align: center;
  overflow: hidden;
  position: relative;
}

.liked-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.liked-card-row {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 20px;
}

.header-card {
  margin-top : 90px;
  padding : 20px;
  display: flex; /* Flexbox를 활성화 */
  justify-content: center; /* 카드들을 가운데 정렬 */
  gap: 30px; /* 카드 사이의 간격 */
}

.header-card:hover {
  cursor: pointer;
}

.header-card1, .header-card2, .header-card3, .liked-card1, .liked-card2, .liked-card3 {
  text-align: center;
  overflow: hidden;
  position: relative;
  margin-left: 30px;
}

.card-text, .liked-text {
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  padding: 10px;
  box-sizing: border-box;
  text-shadow: 2px 2px 4px black;
  margin: 0;
}

.card1-date, .card2-date, .card3-date {
  margin: 5px 0;
  font-size: 13px;
}

.card1-country, .card2-country, .card3-country, .liked-country {
  font-size: 16px;
}

.heart-icon2 {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
  color: #ff4343; /* 기본 색상 */
}

.tab-buttons {
  text-align: center;
  margin-top: 10px;
}

.tab-buttons button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font-size: 20px; /* 원하는 폰트 크기로 조절하세요 */
  color: #464646; /* 원하는 글자 색상으로 조절하세요 */
  margin-right: 200px;
  border-bottom: 2px solid transparent;
  padding-bottom: 10px;
  font-family: 'NanumSquareB', Arial, sans-serif;
}

.tab-buttons button:focus {
  outline: none;
}

.tab-buttons button:last-child {
  margin-right: 0; /* 마지막 버튼에는 간격을 주지 않음 */
}

.tab-buttons button.selected {
  border-bottom-color: rgb(163, 217, 251); /* 선택된 탭의 테두리 색상 설정 */
}