#header-container {
    /* 상단바 */
    position: fixed;
    width: 100%;
    height: 80px;
    margin: auto 0;
    background-color: rgba(231, 231, 231, 0.92);
    z-index: 1000;
}
.header-contents {
    /* 상단바의 내부요소 */
    display: flex;
    /* 요소들을 가로로 배치 */
    justify-content: space-around;
    align-items: center;
    /* 세로 방향으로 가운데 정렬 */
    height: 100%;
    padding: 0 20px;
}

.header-image {
    /* 로고 위치 */
    height: 75px;
    padding-right: -20px;
    /*width: 10%;*/
    /*height: 90px;*/
    /*text-align: center;*/
}

.logo {
    /* 로고 크기, 위치 */
    width: 60px;
    height: 80px;
    object-fit: contain;
}

.site-name h1 {
    cursor: default;
    margin-left: -30px;
    /* 사이트로고 */
}

.navbar-local{
    padding: 10px 10px;
    background-color: transparent; /* 배경을 투명하게 설정 */
    color: rgb(68, 68, 68);
    border: none;
    cursor: pointer;
    text-decoration: none; /* 밑줄 제거 */
    font-size: 17px; /* 글자 크기 설정 */
    font-weight: bold; /* 볼드체 설정 */
    margin-left: 200px;
}
.navbar-local:hover, .navbar-calender:hover, .navbar-airplane:hover, .user-icon:hover {
    /*background-color: #87CEEB; !* 하늘색으로 변경 *!*/
    color: #ffffff; /* 호버 시 텍스트 색상을 흰색으로 변경 */
}
.navbar-calender{
    padding: 10px 10px;
    background-color: transparent; /* 배경을 투명하게 설정 */
    color: rgb(68, 68, 68);
    border: none;
    cursor: pointer;
    text-decoration: none; /* 밑줄 제거 */
    font-size: 17px; /* 글자 크기 설정 */
    font-weight: bold; /* 볼드체 설정 */

}

.navbar-airplane{
    padding: 10px 10px;
    background-color: transparent; /* 배경을 투명하게 설정 */
    color: rgb(68, 68, 68);
    border: none;
    cursor: pointer;
    text-decoration: none; /* 밑줄 제거 */
    font-size: 17px; /* 글자 크기 설정 */
    font-weight: bold; /* 볼드체 설정 */

}

.navbar{
    font-weight : bold;
    list-style-type: none;
    box-sizing: border-box;
    display : flex;
    gap : 20px;
    /*align-items : center;*/
    padding: 0;
    text-decoration: none;

}

.search {
    display: flex;
    align-items: center;
    margin-left: -80px;
}
.search-icon{
    cursor : pointer;
    /*추가*/
    width: 30px;
    height: 100px;
}
.search-map {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin-top: -9px;
}

.map-select-button {
    cursor: pointer;
    border: none;
    color: rgb(61, 59, 59);
    background-color: rgba(0, 0, 0, 0);
    margin-left: 400px;
    /*마진 늘림*/
    margin-top: -25px;
}

.user {
    display: flex;
    /* 요소들을 가로로 배치 */
    justify-content: space-around;
    align-items: center;
    /* 세로 방향으로 가운데 정렬 */
    text-align: center;
    cursor: pointer;
    width: 20%;
    padding: 20px 0;
    color: rgb(77, 77, 77);
}

.user-icon {
    margin-left: -80px;
}

.button {
    padding: 10px 15px;
    background-color: #b5b5b56a;
    color: rgb(68, 68, 68);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-right: -35px;
    font-family: 'NanumSquareB', Arial, sans-serif;
}

.button:hover {
    background-color: white;
    color: rgb(68, 68, 68);
}

/*사이트 이름 추가*/
.site-name{
    padding-right: 300px;
    font-size: 12px;
}