.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 100px;
    width: 600px;
    background: #fff;
    padding-bottom: 30px;
    border: none;
    border-radius: 40px;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.text{
    color: rgb(19, 38, 89);
    font-size: 48px;
    font-weight: 700;
}

.underline{
    width: 150px;
    height: 6px;
    background: rgb(19, 38, 89);
    border-radius: 9px;
}

.inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 450px;
    height: 70px;
    background: #eaeaea;
    border-radius: 6px;
    margin-bottom: 10px;
    border-radius: 40px;
}

.input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;
}

.submit-container{
    display: flex;
    gap: 30px;
    margin: 10px auto;
    margin-top: 10px;
}

.submit1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    color: white;
    background: rgb(19, 38, 89);
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}
    .submit1:hover {
        background: rgba(19, 38, 89, 0.853);
    }

.submit2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    color: #797979;
    background: #eaeaea;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}
    .submit2:hover {
        background: #d3d3d3;
    }
.divider {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
  }
  
.divider span {
    padding: 0 10px;
    font-size: 14px;
    color: #797979;
}
  
.custom-input {
    margin-left: 10px;
}
  