.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 100px;
    width: 600px;
    background: #fff;
    padding-bottom: 30px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(10, 10, 10, 0.1);
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 20px;
}

.text{
    color: rgb(168, 229, 239);
    font-size: 48px;
    font-weight: 700;
}

.underline{
    width: 150px;
    height: 6px;
    background: rgb(19, 38, 89);
    border-radius: 9px;
}

.inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input {
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin: auto;
    width: 350px;
    height: 43px;
    background: #f3f1f1;
}

.custom-input::placeholder {
    font-size: 12px;
}

  .input input {
    height: 50px;
    width: 250px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;
  }

.submit-container{
    display: flex;
    gap: 30px;
    margin: 10px auto;
    margin-top: 10px;
}

.submit1{
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 40px;
    color: white;
    background: rgb(168, 229, 239);
    font-size: 17px;
    font-weight: 700;
    cursor: pointer;
    margin-top: 30px;
}
    .submit1:hover {
        background: rgba(19, 38, 89, 0.853);
    }

.submit2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    cursor: pointer;
}
    .submit2:hover {
        background: #ececec;
    }
.divider {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
    text-align: center;
    color: rgb(120, 119, 119);
}

.custom-input {
    margin-left: 10px;
}
  
.login-image {
    text-align: center;
    margin-top: 10px;
}

.naver, .google{
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 10px;
    cursor: pointer;
    width: 40px;
    height: 40px;
}
.kakao {
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 10px;
    cursor: pointer;
    width: 38px;
    height: 38px;
}
.apple {
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 10px;
    cursor: pointer;
    width: 57px;
    height: 40px;
}
.naver:hover, .kakao:hover, .google:hover, .apple:hover {

}