.App {
  text-align: center;
}

.App {
  text-align: center;
  font-family: 'NanumSquareB', Arial, sans-serif;
  /*background-color: #f6f7f9;*/
  display: flex;
  flex-direction: column;
  align-items: center;
}


.card-container {
  display: flex;
  justify-content: space-around;
  text-align: center;
  width: 100%;
  margin: 20px 10px;
}
.foot-container{
  width : 100%;
  position: relative;
  float : left;
}

.main-info{
  color: rgb(27, 57, 129);
  margin-top: 70px;
  margin-bottom: 10px;
  font-size: 25px;
}
